nav{ position:relative; margin: 0px 0 0 0;float:right;padding: 10px 50px 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {float:left;position:relative}

.sf-menu>li>a{display:block;position:relative; font-size: 11px; line-height: 1px; color:#f2f1ed;text-transform:uppercase;padding: 44px 20px 41px;}
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{}

.sf-menu>li{margin-left:1px;}
.sf-menu>li:hover,.sf-menu>li.current,.sf-menu>li.sfHover{background:#303030;}
.sf-menu>li:after{display:none;width:100%;height:1px;position:absolute;left:0;top:0;background:#d74613;content:"";}
.sf-menu>li:before{display:none;position:absolute;left:48%;top:0;width:5px;height:4px;background: url(../images/nav_li.png) no-repeat;content:"";}
.sf-menu>li:hover:before,.sf-menu>li.current:before,.sf-menu>li.sfHover:before, .sf-menu>li:hover:after,.sf-menu>li.current:after,.sf-menu>li.sfHover:after{display:block;}

.sf-menu a{}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover ul{left:0;top:87px;width:149px;padding:18px 0 17px 0; z-index:999; background:#383838;}
.sf-menu li ul li{margin-bottom:2px;}
.sf-menu li ul li a{display:block;font-size: 11px; line-height: 14px; color:#f2f1ed;text-transform:uppercase; padding: 8px 0 6px 19px;}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{color:#d74613;background:#1d1c1c;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{left:150px !important;top:-18px !important;}
