/***** menu *****/
.navigation_area {
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background:url(../images/menu_tile.jpg) 0 71px repeat-x;
}

.navigation {
	float:left;
	margin: 0px 0 0px 0px;
	padding: 0px;
	width: 280px;
	height:auto;
}

.navigation_left {
	float:left;
	margin: 0px 0 0px 0px;
	padding: 0px;
	width: 280px;
	height:auto;

}
.navigation_right {
	float:right;
	margin: 0px 0 0px 0px;
	padding: 27px 0 0 0;
	width: 280px;
	height:auto;

}

.navigation span { margin:0px; padding:0px;}

.navigation ul.menu li{display: inline;
	
}
.navigation ul.menu li a {
	float: left;
	padding: 13px 12px 13px 12px;
	margin:0px 1px 0px 0px;
	text-align: center;
	font-size: 16px;
	height:auto;
	width:auto;
	display:block;
	text-decoration: none;
	font-family: 'PT Sans Caption', sans-serif;
	text-transform:capitalize;
	color: #000;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	behavior: url(ie-css3.htc);
	position:relative;
}

.navigation ul.menu li .none {
	float: left;
	background:none;
}
	
.navigation ul.menu li a:visited {
	color:#000;
}
.navigation ul.menu li .last { float:left; margin:0 0 0 2px;color:#fff;}
.navigation ul.menu li a:hover{
	color:#fff;
	background:url(../images/menu_hover.jpg) repeat-x;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	behavior: url(ie-css3.htc);
	position:relative;
}
.navigation ul.menu li#current a {
	color:#fff;
	background:url(../images/menu_hover.jpg) repeat-x;
}
.navigation ul.menu a.last { background:none }

/*** MAIN NAVIGATION END******/

/*** MAIN NAVIGATION END******/



/*** TOP LINKS START******/
.top_left {
	float:left;
	text-align:left;
	width:355px;
	height:auto;
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.toplinks ul.menu {
	padding:0px;
	margin:0px 0px 0px 0px;
	float: left;
	height:auto;
	width:100%;
}
.toplinks ul.menu li {
	display:inline;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.toplinks ul.menu li img {
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.toplinks ul.menu li a:link, .toplinks ul.menu li a:visited {
	float:left;
	color:#fff;
	display:inline;
	width:auto;
	height:auto;
	padding:0px 10px 0px 3px;
	margin:3px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	border-left:0px solid #000;
	background:url(../images/top_seprater.html) right no-repeat;
	text-transform: capitalize;
	text-align: left;
	text-transform:capitalize;
}
.toplinks span {
	margin:0px;
	padding:0px;
}
.toplinks ul.menu li a:hover {
	color:#000000;
	text-decoration:none;
}
.toplinks ul li#current a {
	color:#555555;
	text-decoration:underline;
}
.toplinks ul.menu li a.last {
	background:none;
}
/*** LEFT BAR LINKS START******/
.leftlinks ul.menu li a:link, .leftlinks ul.menu li a:visited {
	color:#000;
	font-size:12px;
	text-decoration:none;
	display:block;
	padding:8px 0 8px 30px;
	background:url(../images/marker_icon1.png) 6px 7px no-repeat;
	margin:0px 0 1px 0;
	text-align:left;
	text-transform:capitalize;
	width: 85%;
	text-decoration:underline;
	float: left;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
	behavior: url(css/ie-css3.html);
	

}
.leftlinks ul.menu li a:hover {
	color:#1777ca;
	text-decoration:none;
	background:url(../images/marker_icon2.png) 9px 7px no-repeat;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.leftlinks ul li#current a {
	color:#000;
	background:url(../images/marker_icon1.html) 6px 10px no-repeat;
	-webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;
}
/*** LEFT BAR LINKS START******/
 
/*** RIGHT BAR LINKS START******/

.midlinks {
	float:left;
	text-align:left;
	width:280px;
	height:auto;
	padding:0px 0px 20px 0px;
	margin:0px 0px 0px 0px;
	background:url(../images/bor-x.html) bottom repeat-x;
}

.midlinks ul.menu2 li a:link, ul.menu2 li a:visited {
	float:left;
	width:auto;
	color:#EB2000;
	font-family:Georgia;
	font-style:normal;
	font-weight:normal;
	padding:7px 0 6px 24px;
	text-decoration:none;
	background:url(../images/icon3.html) left no-repeat;
}
.midlinks ul.menu2 li a:hover {
	color:#000;
	text-decoration: none;
	background:url(../images/icon3.html) left no-repeat;
}
.midlinks ul li#current a {
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
/*** RIGHT BAR LINKS START******/
.callus {
	float:left;
	text-align:left;
	width:200px;
	height:auto;
	padding:0px 0px 0 0px;
	margin:0;
	background:url(../images/phone.html) right no-repeat;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
}

/*** FOOTER BOX START******/

.footer_wraper {
	float:left;
	width:100%;
	margin:30px 0px 0px 0px;

}
/*** FOOTER MENU START******/
.footer_wraper {
	float:left;
	width:100%;
	height:177px;
	margin:28px 0px 0px 0px;
	background:url(../images/border-top.html) top repeat-x;
}

.footer_wraper.none {
	float:left;
	width:100%;
	height:auto;
	margin:28px 0px 0px 0px;
	background:url(../images/bk_btn.html) bottom repeat-x;
}
.footer {
	width:975px;
	margin:0px auto;
	height: auto;
}
.footer-box {
	text-align:left;
	width:976px;
	height:115px;
	padding:20px 0px 0px 0px;
	margin:0 auto;
	background:url(../images/footer_tile.html) repeat-x;
}
.footer-box .module_box {
	border:0px solid #000;
	float: left;
	margin: 30px 0 0 0;
	width: 100%;
}
.footer_bottom {
	width:900px;
	float:left;
	height:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 8px 0px;
	border-top:0px solid #242424;
}
.footer_left {
	width:550px;
	float:left;
	height:auto;
	margin:0px 0px 0px 40px;
	padding:0px 0px 0px 0px;
}
/*** FOOTER MENU START******/
.footer_menu {
	float:left;
	text-align:left;
	width:100%;
}
.footer_menu ul.menu {
	margin:0px;
	padding:0px;
	line-height:0px;
}
.footer_menu ul.menu li a:link, .footer_menu ul.menu li a:visited {
	float:left;
	display:inline;
	width:200px;
	line-height:normal;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
	text-align:left;
	font-size:14px;
	font-family:Tahoma;
	width:auto;
	height:auto;
	color:#6a6a6a;
	text-decoration:none;
	line-height:0px;
}
.footer_menu span {
	margin:0px;
	padding:0px;
}
.footer_menu ul.menu li a:hover {
	color:#c5ff05;
	text-decoration:none;
	background:url(../images/footer_icon.html) no-repeat right;
}
.footer_menu ul li#current a {
	color:#c5ff05;
	text-decoration:none;
	background:url(../images/footer_icon.html) no-repeat right;
}
/*** FOOTER MENU END******/

.footer_right {
	float:right;
	width:320px;
	height:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}

.footer_right h1 {
	float:left;
	width:140px;
	height:auto;
	font-size:30px;
	margin:7px 0px 0 0px;
	padding:0px 0px 0px 0px;
	font-size:22px;
	color:#000;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Rokkitt', serif;
	font-weight: normal;
	border: none;
	background: none;
}

.footer_right p {
	float:left;
	width:100%;
	height:auto;
	font-size:30px;
	margin:7px 0px 0 0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	color:#000;
	text-transform: capitalize;
	text-align: left;
	font-family:Georgia;
	font-weight: normal;
	border: none;
	background: none;
}

.footer_right p span {
	float:left;
	width:100%;
	height:auto;
	font-size:30px;
	margin:7px 0px 0 0px;
	padding:0px 0px 0px 0px;
	font-size:13px;
	color:#60a50f;
	text-transform: capitalize;
	text-align: left;
	font-family:Georgia;
	font-weight: normal;
	border: none;
	background: none;
}
.footer_right .logo {
	float:left;
	width:auto;
	height:auto;
	margin:30px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}
/*** FOOTER BOX END******/

.footer_left .footerlinks h1 {
	float:left;
	width:140px;
	height:auto;
	font-size:30px;
	margin:7px 0px 0 0px;
	padding:0px 0px 0px 0px;
	font-size:22px;
	color:#1b192f;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	border: none;
	background: none;
}
.footerlinks {
	float:left;
	width:200px;
	border:1px solid red;
	padding:0px 0px 0px 0px;
	margin:0px 18px 0px 0px;
}
.footerlinks ul.menu {
	width: 100%;
	width:auto;
	display: block;
	padding:0px;
	text-align:center;
	width:100%;
	margin:0px 0px 0px 0px;
	line-height:0px;
	float: left;

}
.footerlinks ul.menu li {
	text-align:center;
	border:0px solid yellow;
	line-height:0px;
	color: #6a6a6a;
	margin: 0px;
	padding: 0;
	width: 100%;

}
.footerlinks ul.menu li a:link, .footerlinks ul.menu li a:visited {
	float:left;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform:capitalize;
	margin:0px;
	padding:0px 5px 0px 0px;
	height: 17px;
	line-height:normal;
	width:auto;
	background:url(../images/fot_icon.html) left no-repeat;
	border:0px solid red;
}
.footerlinks ul.menu li a:hover {
	color: #09A2CB;
	text-decoration: none;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	behavior: url(css/ie-css3.html);
}
.footerlinks ul li#current a {
	color: #1878CB;
	text-decoration: none;
	font-weight:bold;
}
.copy_rights {
	float:right;
	font-size:13px;
	font-weight:normal;
	color:#000;
	width:23%;
	height:auto;
	padding:0px 0 5px 40px;
	margin:50px 0 0 0;
}
.copy_rights a{
	font-size:13px;
	font-weight:normal;
	color:#fff;
	

}
.copy_rights a:hover{
	color:#000;

}
.copy_rights span {
	font-size:13px;
	font-weight:normal;
	color:#0388a7;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.copy_rights a {
	color:#1878CB;
}
.copy_rights a:hover {
	color:#0C97E1;
	text-decoration: underline;
}
.footerlinks {
	float:left;
	width:600px;
	text-align:center;
	border:0px solid black;
	padding:0px 0px 0px 0px;
	margin:55px 0px 0px 0px;
}
.fl-r {
	float: right;
	width: 148px;
	margin: 10px 0 0 0;
	height: auto;
}
.list-3 {
	float:left;
	list-style:none;
	margin:0px 0 0px 0;
	padding:0px;
}

.fl-r  span {
	padding: 3px;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform: none;
	float: left;
	font-weight: bold;
}
.list-3 li {
	float:left;
	margin:0px 0 0 6px;
	padding:0px;
	list-style:none;
}
.list-3 li a {
	display:block;
	width:21px;
	height:21px;
}
.soc-1 a {
	background: url('../images/soc-icon-1.png') no-repeat 0 0px;
}
.soc-2 a {
	background: url('../images/soc-icon-2.png') no-repeat 0 0px;
}
.soc-3 a {
	background: url('../images/soc-icon-3.png') no-repeat 0 0px;
}
.soc-4 a {
	background: url('../images/soc-icon-4.html') no-repeat 0 0px;
}
.soc-5 a {
	background: url('../images/soc-icon-5.html') no-repeat 0 0px;
}

#easyTooltip {
	padding: 3px;
	background:#0b6cbd;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	text-transform: none;
	position: absolute;
	z-index: 100;
	border: 1px solid #fff;
}
