<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Template">
	<meta name="keywords" content="Responsive Template">
    <title>Hand Bags</title>
	
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
	
	
	 <link href="css/product.css" rel="stylesheet">
	 
	 <!-- live ajax is downloaded  -->
	 <script src="js/demo.js"></script>
	 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->     
	
	<!---  toggle script  --->
			<script> 
			
					// 1th product
					$(document).ready(function(){
						$("#flip11").click(function(){
							$("#panel11").slideToggle("slow");
							$("#panel12").slideUp("slow");
							$("#panel13").slideUp("slow");
							$("#panel14").slideUp("slow");
						});
					});
					
					$(document).ready(function(){
						$("#flip12").click(function(){
							$("#panel11").slideUp("slow");
							$("#panel12").slideToggle("slow");
							$("#panel13").slideUp("slow");
							$("#panel14").slideUp("slow");
						});
					});
					
					$(document).ready(function(){
						$("#flip13").click(function(){
							$("#panel11").slideUp("slow");
							$("#panel12").slideUp("slow");
							$("#panel13").slideToggle("slow");
							$("#panel14").slideUp("slow");
						});
					});
					
					
					$(document).ready(function(){
						$("#flip14").click(function(){
							$("#panel11").slideUp("slow");
							$("#panel12").slideUp("slow");
							$("#panel13").slideUp("slow");
							$("#panel14").slideToggle("slow");
						});
					});
					
					
					</script>    

</head><!--/head-->

<body class="homepage">


<header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 7090</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-12 soc-mob">
                       <div class="social">
                            <ul class="social-share">
                                <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
								
								<li><a href="#">Advanced Search</a></li>
								<li><a href="#">Log In</a></li>
								
								<li><a href="#">Shipping & Returns</a></li>
                            </ul>
							
							 
                            <!--<div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>-->
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="new.html">What's New</a></li>
                        <li><a href="why-handbags.html">why Handbags</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="contact.html">Contact US</a></li>                           
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header>
	<!--/header-->
	
		
		<section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
						
                            <!--<div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>                                </div>
                            </div>-->
							
                        </div>
                    </div>
                </div>
                <!--/.item-->

 
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->

		
	</section>
		

			
			
			<!-- text details -->
			<div id="section-1" class="section-1 content-space">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="media-container cms-image ng-isolate-scope" ng-class="{&#39;luminesceFamily&#39;: !fullscreen}" cms-image="luminesceFamily"  alt="" src="images/instanlty-ageless.png">
			<!-- ngIf: canEdit() -->
			<img  class="luminesceFamily" src="images/instanlty-ageless.png">
		</div>
						</div>
						
						<div class="col-md-8">
							<div class="space-30"></div>
							<p cms-translation="learnMoreParagraph1" class="product-title ng-scope">
							<span class="callout ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></p>
							
							<p cms-translation="learnMoreParagraph2" class="product-summary ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<div class="space-30"></div>
							<a class="btn btn-lg btn-animated ng-isolate-scope" scroll-to="video" offset="105"><span cms-translation="instantResults" class="ng-scope">Shop Now!</span></a>
						</div>
				
					</div>
				</div>
			</div>
		

			
			
			<!-- Features -->
			<section id="feature" >
				<div class="container">
				
				
					<h1>HANDBAGS ONLINE SHOPPING</h1>
			 		<br />
			 
		
					<div class="row">
		
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/CRS-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
		
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/ANR-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/DMC-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/EBR-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						
													  
					</div><!--/.row-->
					
					
					<div class="row">
		
						
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/ULM-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/YRC-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/CRS-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
		
						<div class="col-sm-3 col-md-3">
							<div class="media services-wrap wow fadeInDown">
								<div class="pull-left">
									<img class="img-responsive" src="images/ANR-002.jpg">
								</div>
								<div class="media-body">
									<h3 class="media-heading">Women Handbag</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do dolor sit amet.</p>
								</div>
							</div>
						</div>
						
						
						
						
													  
					</div><!--/.row-->
					
					
			 
				</div><!--/.container-->
			</section>
			<!-- /Features -->
			
			

			
			<!-- cellular rejuvenation   ist products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/IA_SachetsMagneticBox.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip11" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel11" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip12" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel12" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip14" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel14" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		
		



	




	<!--- footer -->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Hand bags © 2016 All Rights Reserved
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="new.html">What's New</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
	<!--/#footer-->
	

	<!---  bootstrap JS  --->	
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	

	
</body>

</html>