<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Template">
	<meta name="keywords" content="Responsive Template">
    <title>Hand Bags</title>
	
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
	
	
	 <link href="css/product.css" rel="stylesheet">
	 
	 <!-- live ajax is downloaded  -->
	 <script src="js/demo.js"></script>
	 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->     
	
	
	<!---  toggle script  --->
	<script> 
	
			// 1th product
			$(document).ready(function(){
				$("#flip11").click(function(){
					$("#panel11").slideToggle("slow");
					$("#panel12").slideUp("slow");
					$("#panel13").slideUp("slow");
					$("#panel14").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip12").click(function(){
					$("#panel11").slideUp("slow");
					$("#panel12").slideToggle("slow");
					$("#panel13").slideUp("slow");
					$("#panel14").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip13").click(function(){
					$("#panel11").slideUp("slow");
					$("#panel12").slideUp("slow");
					$("#panel13").slideToggle("slow");
					$("#panel14").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip14").click(function(){
					$("#panel11").slideUp("slow");
					$("#panel12").slideUp("slow");
					$("#panel13").slideUp("slow");
					$("#panel14").slideToggle("slow");
				});
			});
			
			
			
			// 2th product
			$(document).ready(function(){
				$("#flip21").click(function(){
					$("#panel21").slideToggle("slow");
					$("#panel22").slideUp("slow");
					$("#panel23").slideUp("slow");
					$("#panel24").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip22").click(function(){
					$("#panel21").slideUp("slow");
					$("#panel22").slideToggle("slow");
					$("#panel23").slideUp("slow");
					$("#panel24").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip23").click(function(){
					$("#panel21").slideUp("slow");
					$("#panel22").slideUp("slow");
					$("#panel23").slideToggle("slow");
					$("#panel24").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip24").click(function(){
					$("#panel21").slideUp("slow");
					$("#panel22").slideUp("slow");
					$("#panel23").slideUp("slow");
					$("#panel24").slideToggle("slow");
				});
			});
			
	
	
			// 3th product
			$(document).ready(function(){
				$("#flip31").click(function(){
					$("#panel31").slideToggle("slow");
					$("#panel32").slideUp("slow");
					$("#panel33").slideUp("slow");
					$("#panel34").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip32").click(function(){
					$("#panel31").slideUp("slow");
					$("#panel32").slideToggle("slow");
					$("#panel33").slideUp("slow");
					$("#panel34").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip33").click(function(){
					$("#panel31").slideUp("slow");
					$("#panel32").slideUp("slow");
					$("#panel33").slideToggle("slow");
					$("#panel34").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip34").click(function(){
					$("#panel31").slideUp("slow");
					$("#panel32").slideUp("slow");
					$("#panel33").slideUp("slow");
					$("#panel34").slideToggle("slow");
				});
			});
			
			
			
			// 4th product
			$(document).ready(function(){
				$("#flip41").click(function(){
					$("#panel41").slideToggle("slow");
					$("#panel42").slideUp("slow");
					$("#panel43").slideUp("slow");
					$("#panel44").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip42").click(function(){
					$("#panel41").slideUp("slow");
					$("#panel42").slideToggle("slow");
					$("#panel43").slideUp("slow");
					$("#panel44").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip43").click(function(){
					$("#panel41").slideUp("slow");
					$("#panel42").slideUp("slow");
					$("#panel43").slideToggle("slow");
					$("#panel44").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip44").click(function(){
					$("#panel41").slideUp("slow");
					$("#panel42").slideUp("slow");
					$("#panel43").slideUp("slow");
					$("#panel44").slideToggle("slow");
				});
			});
			
			
			// 5th product
			$(document).ready(function(){
				$("#flip51").click(function(){
					$("#panel51").slideToggle("slow");
					$("#panel52").slideUp("slow");
					$("#panel53").slideUp("slow");
					$("#panel54").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip52").click(function(){
					$("#panel51").slideUp("slow");
					$("#panel52").slideToggle("slow");
					$("#panel53").slideUp("slow");
					$("#panel54").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip53").click(function(){
					$("#panel51").slideUp("slow");
					$("#panel52").slideUp("slow");
					$("#panel53").slideToggle("slow");
					$("#panel54").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip54").click(function(){
					$("#panel51").slideUp("slow");
					$("#panel52").slideUp("slow");
					$("#panel53").slideUp("slow");
					$("#panel54").slideToggle("slow");
				});
			});
			
			
			
			// 6th product
			$(document).ready(function(){
				$("#flip61").click(function(){
					$("#panel61").slideToggle("slow");
					$("#panel62").slideUp("slow");
					$("#panel63").slideUp("slow");
					$("#panel64").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip62").click(function(){
					$("#panel61").slideUp("slow");
					$("#panel62").slideToggle("slow");
					$("#panel63").slideUp("slow");
					$("#panel64").slideUp("slow");
				});
			});
			
			$(document).ready(function(){
				$("#flip63").click(function(){
					$("#panel61").slideUp("slow");
					$("#panel62").slideUp("slow");
					$("#panel63").slideToggle("slow");
					$("#panel64").slideUp("slow");
				});
			});
			
			
			$(document).ready(function(){
				$("#flip64").click(function(){
					$("#panel61").slideUp("slow");
					$("#panel62").slideUp("slow");
					$("#panel63").slideUp("slow");
					$("#panel64").slideToggle("slow");
				});
			});
			
			
			</script>  
					

</head><!--/head-->

<body class="homepage">

    
	<header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 7090</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-12 soc-mob">
                       <div class="social">
                            <ul class="social-share">
                                <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
								
								<li><a href="#">Advanced Search</a></li>
								<li><a href="#">Log In</a></li>
								
								<li><a href="#">Shipping & Returns</a></li>
                            </ul>
							
							 
                            <!--<div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>-->
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="new.html">What's New</a></li>
                        <li><a href="why-handbags.html">why Handbags</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="contact.html">Contact US</a></li>                           
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header>
	<!--/header-->
	
	
	
	
	
	<section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
						
                            <!--<div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>                                </div>
                            </div>-->
							
                        </div>
                    </div>
                </div>
                <!--/.item-->

 
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->

		
	</section>
	
	
	
	
		<div id="index" ui-view="" autoscroll="true" class="ng-scope"><!-- ngIf: model.showCmsEditor -->
				<div class="hidden-xs hidden-sm visible-md visible-lg ng-scope" ></div>
		<!-- uiView:  --><div ui-view="" id="default" autoscroll="true" class="ng-scope"><div class="header-layout-container ng-scope">
		   
		
		
			<!-- uiView:  -->
			<div ui-view="" class="page-content ng-scope" autoscroll="true">
			
			<div id="front-layout-content" class="ng-scope">
		
		
		
		
			<!-- uiView:  -->
			<div ui-view="" autoscroll="true" class="ng-scope">
			<div class="luminesce ng-scope">
			
			
			
		
			
			
			
			
			
			
			<!-- text details -->
			<div id="section-1" class="section-1 content-space">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="media-container cms-image ng-isolate-scope" ng-class="{&#39;luminesceFamily&#39;: !fullscreen}" cms-image="luminesceFamily"  alt="" src="images/luminesce-family-group.png">
			<!-- ngIf: canEdit() -->
			<img  class="luminesceFamily" src="images/luminesce-family-group.png">
		</div>
						</div>
						<section class="col-md-8">
							<p cms-translation="section1Header" class="product-title ng-scope">
							<span class="callout ng-scope">youthful vitality</span>
							
							</p>
							<p cms-translation="section1Paragraph" class="product-summary ng-scope"><span class="ng-scope">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							</span></p>
							<a class="btn btn-lg btn-animated ng-isolate-scope" scroll-to="video-banner" offset="105"><span cms-translation="section1Button" class="ng-scope">WATCH VIDEO</span></a>
						</section>
					</div>
				</div>
			</div>
		
		
		
		
		
		
		
			<!-- video -->
			<div id="video-banner" class="video-banner">
				<img src="images/video-ilumu.png" style="width: 100%;">
			</div>
			
			
			
			
			<!--  bg img  --->
			<div cms-background-image="luminesceBackground2"  class="ng-isolate-scope fixed-background cms-background-image" style="background-image: url(images/pro-banner.jpg);"></div>
		
		
		
		
		
			<!--  6 products  --->
			<div id="section-2" class="container">
				<div class="row content-space">
					<!-- ngRepeat: product in products -->
					<div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="LUMINESCE" offset="105" class="ng-isolate-scope">
							<img  class="img-responsive" src="images/CRS-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>cellular<br>rejuvenation<br>serum</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products --><div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="LUMINESCE_MOIST" offset="105" class="ng-isolate-scope">
							<img  class="img-responsive" src="images/DMC-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>daily<br>moisturizing<br>complex</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products --><div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="LUMINESCE_BODYRENEW" offset="105" class="ng-isolate-scope">
							<img class="img-responsive" src="images/EBR-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>essential<br>body<br>renewal</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products --><div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="LUMLIFTMASK" offset="105" class="ng-isolate-scope">
							<img  class="img-responsive" src="images/ULM-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>ultimate<br>lifting<br>masque</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products --><div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="LUMINESCE_CLEANSER" offset="105" class="ng-isolate-scope">
							<img  class="img-responsive" src="images/YRC-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>youth<br>restoring<br>cleanser</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products --><div ng-repeat="product in products" class="col-md-2 col-xs-6 product-menu ng-scope">
						<a href="" scroll-to="ANRP" offset="105" class="ng-isolate-scope">
							<img  class="img-responsive" src="images/ANR-002.jpg">
							<span fo-format-string="product.productName" joiner="&#39;&lt;br&gt;&#39;" class="ng-isolate-scope">LUMINESCE<br>advanced<br>night<br>repair</span>
							<div>
								<i class="fa fa-lg fa-chevron-down"></i>
							</div>
						</a>
					</div><!-- end ngRepeat: product in products -->
				</div>
			</div>
			<!--  /6 products  --->
			
			
			
			
			
			
			
			<!-- cellular rejuvenation   ist products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/CRS-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip11" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel11" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip12" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel12" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip14" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel14" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		
		
		
		
		
			<!-- daily moisturizing complex  2nd products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/DMC-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip21" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel21" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip22" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel22" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip23" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel23" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		
	
	
		
			<!-- essential body   3rd products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/EBR-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip31" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel31" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip32" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel32" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip33" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel33" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		
		
		
		
			<!-- ultimate lifting   4th products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/ULM-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip41" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel41" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip42" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel42" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip43" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel44" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		

					
		
			<!-- youth restoring   5th products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/YRC-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip51" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel51" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip52" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel52" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip53" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel53" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		


			
			<!-- advanced night   6th products -->
			<div ng-repeat="product in products" id="LUMINESCE" ng-class-odd="&#39;alternate&#39;" fo-product="" options="{product: product}" class="ng-scope ng-isolate-scope alternate"><div class="fo-product">
			
			<div class="container">
				<div class="col-xs-12 col-md-6 product-image-container">
					<img class="main-image"  src="images/ANR-002.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h4 class="product-title ng-binding">Ladies Handbags</h4>
					<div class="product-price ng-binding">$74.95</div>
					<div class="product-add-to-cart-container">
						<a ng-class="getAddToCartClass()" class="btn btn-lg btn-animated" ng-click="addToCart(product)">
							<span cms-translation="addToCart" class="ng-scope">
									ADD TO CART
								</span>
						</a>
						<!-- ngIf: hasProductInCart() -->
					</div>
					<div fo-collapsable-description="" options="productOptions" class="ng-isolate-scope"><div>
			<!-- ngRepeat: section in options.sections --><div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip61" class="ng-scope-arrow">PRODUCT</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel61" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip62" class="ng-scope-arrow" >BENEFITS</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				
				<!-- description -->
				<div style="display:none;" id="panel62" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
			
			
			
			
			<div class="fo-collapsable-description ng-scope" ng-repeat="section in options.sections">
				<div class="collapsable-description-title" ng-click="toggleExpandCollapse(section)">
					<!-- ngIf: section.titleCmsOptions==undefined -->
					<!-- ngIf: section.titleCmsOptions --><div ng-if="section.titleCmsOptions" class="ng-scope">
						<div id="flip63" class="ng-scope-arrow" class="ng-scope">USAGE</div>
					</div><!-- end ngIf: section.titleCmsOptions -->
				</div>
				
				<!-- description -->
				<div style="display:none;" id="panel63" >
					<span ng-if="section.descriptionCmsOptions==undefined" ng-bind-html="section.description" class="ng-binding ng-scope">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br></span>
				</div>
				
				
			</div><!-- end ngRepeat: section in options.sections -->
		</div>
		</div>
				</div>
			</div>
			
			</div>
			</div>
		
		
		
		
		
		</div></div>
		</div>
		</div>
		
		</div>
		</div>
		
		</div>
	
	
	




	<!--- footer -->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Hand bags © 2016 All Rights Reserved
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="new.html">What's New</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
	<!--/#footer-->
	

	<!---  bootstrap JS  --->	
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	
	

	
</body>

</html>