 @import url('navigation.css');
 @import url('modules.css');
 @import url('reset.css');
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption,ul,li, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
	margin:0px;
	padding:0px;
	list-style:none;
}
mark, rp, rt, ruby, summary, time {display:inline;}

/* =========================================== Fonts properties ======================================================== */
@font-face {
    font-family: 'fonts/cafetaRegular';
    src: url('fonts/cafeta_-webfont.eot');
    src: url('fonts/cafeta_-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/cafeta_-webfont.woff') format('woff'),
    url('fonts/cafeta_-webfont.ttf') format('truetype'),
    url('fonts/cafeta_-webfont.svg#cafetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;}
	
	
/* ================================== fonts properties ======================================================== */

 h1 {
	margin:5px 0px 10px 0px;
	padding: 0px 0px 0px 2px;
	color:#fff;
	font-size: 33px;
	font-family: cafeta;
	text-transform:uppercase;
	font-weight: normal;
	/*width:100%;
	float: left;*/
}	
	
/* Global properties ======================================================== */
p {
	color:#fff;
	margin: 0;
	padding: 0;
}
a {
	color:#F38013;
}

a:hover {color:#fff;text-decoration:underline;}

/* Global properties ======================================================== */
html {
	width:100%;
}
body {
	margin: 0;
	padding:0;
	width:100%;
	text-align:left;
	background:url(../images/bg.jpg);
	font-family:Arial;
	font-size:12px;
}
img {
	border:0px;
}
img a {
	border:0px;
}
body, td, th {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
}
a:link, a:visited {
	text-decoration:none;
	outline:none;
}
a:active, a:hover {
	text-decoration:none;
	outline:none;
}
/***********************************************************************************************************************
 GLOBAL STRUCTURE
************************************************************************************************************************/

.wrapper {
	width:100%;
	float:left;
	margin: 0;
	padding:0px 0 0 0;
}
.main_container {
	/* width:980px; */
	height:auto;
	margin: 0 auto;
}
.main {
	float:left;
	width:100%;
	padding:20px 0 20px 0;
	margin:20px 0 0 0;
	background:#000;
}
#top_area {
	/*float:left;
	width:978px;
	text-align:left;*/
	
	height:auto;
	padding:0;
	margin:0px 0px 0px 0px;
}
#top_area .grid1 {
	float:right;
	text-align:left;
	width:951px;
	height:auto;
	padding:0px;
	margin:0px 0px 50px 0;
}
.welcome {
	float:left;
	text-align:center;
	width:990px;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 15px 0px;
	background:url(../images/line.png) no-repeat;
}
.heading {
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.heading h1 {
	float:left;
	text-align:left;
	width:auto;
	height:auto;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	color: #000000;
	font-family:cafeta;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}
.top_right {
	float:right;
	text-align:left;
	width:270px;
	height:auto;
	padding:15px 0px 5px 0px;
	margin:0px 0px 0px 0px;
}
.top_right span {
	float:left;
	text-align:left;
	width:auto;
	height:auto;
	padding:10px 15px 0 0px;
	color:#808080;
	margin:0px 0px 0px 0px;
}
.top_right .button1 {
	float:left;
	text-align:left;
	width:70px;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	
}
.top_right .button1 a {
	float:left;
	text-align:left;
	width:auto;
	height:auto;
	padding:10px;
	color:#000000;
	margin:0px 0px 0px 0px;
	background:url(../images/menu_hover.jpg) repeat-x;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(js/PIE.htc);
	position:relative;
}
.top_right .button1 a:hover {
	color:#FFFFFF;
}
.logo {
	float:left;
	width:290px;
	height:78px;
	padding:0px 0px 0px 0px;
	margin:10px 0 0 0;
	background:url(../images/logo.png) no-repeat;
}
/* ====================  GALLERY ===============*/

.header_area {
	float:left;
	text-align:left;
	width:963px;
	height:auto;
	padding:0px;
	margin:15px 0 0px 0;

}
.header_area .left {
	/*float:left;
	text-align:left;
	width:378px;*/
	height:auto;
	padding:0px;
	margin:65px 0 0px 0;


}
.header_area .left h1 {
	float:left;
	margin:5px 0px 0px 0px;
	padding: 0px 0px 10px 2px;
	color:#010101;
	font-size: 24px;
	font-family:cafeta;
	text-transform:uppercase;
	font-weight:normal;
	width:auto;
	background:url(../images/bor-x.jpg) bottom repeat-x
}

.header_area .left h1 span{ float:left;color:#000; font-size:36px;}

.header_area .left h2 {
	float:left;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 10px 2px;
	color:#008ea8;
	font-size: 55px;
	font-family: 'Cabin Condensed', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	background:url(../images/bor-x.jpg) bottom repeat-x;
	line-height: 50px;
}
.header_area .left .readmore {
	float:left;
	font-family: 'Oswald', sans-serif;
	width: 250px;
	font-size:24px;
	height:auto;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../images/h_read1.png) 130px 45px no-repeat;
	padding: 0px 0 0 2px;
	text-align: left;
}
.header_area .left .readmore:hover {
	color:#008ea8;
	text-decoration:none;
	background:url(../images/h_read1.png) 130px 45px no-repeat;
}
.header_area .right {
	float:right;
	text-align:left;
	width:400px;
	height:auto;
	padding:0px;
	margin:0px 0 0px 0;


}

.bodyarea {
	 width: 100%; 
	height: auto;
	padding: 11px;
	margin:0;
	float: left;
	background:url(../images/bot.png);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(js/PIE.htc);
	position:relative;
	border: 1px solid #27170c;
	position: relative;
}
/***** LEFT SIDE START************/
.left_side {
	/* float:left; */
	/* width: 304px; */
	height: auto;
	padding: 0px;
	margin:0px 0px 0px 0px;
	border-right:1px solid #1c0e0a;
}
.left_side .module_box {
	margin:0px 0px 0px 0px;
	padding:0px;
	/* float: left; */
	width: 95%;
}

.left_side .module_box p {
	margin:5px 0px 10px 0px;
	padding: 0px 0px 0px 2px;
	color:#fff;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	font-weight: normal;
	/* width:252px; */
	float: left;
}
.left_side .module_box p a{
	margin:0px;
	padding: 0px;
	color:#ec6600;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	font-weight: bold;
}

.left_side .module_box p a em{
	 background: none repeat scroll 0 10px #ec6600;
    bottom: -2px;
    box-shadow: 1px 1px 1px #000000;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.left_side .module_box p a:hover{
	color:#ec6600;
	border-bottom:1px solid #fff;
}
.left_side .module_box h1 {
	margin:5px 0px 10px 0px;
	padding: 0px 0px 0px 2px;
	color:#fff;
	font-size: 24px;
	font-family: cafeta;
	text-transform:uppercase;
	font-weight: normal;
	width:215px;
	float: left;
}

.left_side .read-more {
	float:left;
	padding: 0px 0 0px 0;
	width: 180px;
	margin:17px 0 30px;
}
.left_side  .readmore {
	float:left;
	font-family:'cafeta';
	width: 105px;
	font-size:12px;
	height:34px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../images/more.png) no-repeat;
	padding: 10px 0 0 10px;
	text-align: left;
}
.left_side  .readmore:hover {
	color:#fff;
	text-decoration:none;
	background:url(../images/more-hover.png) no-repeat;
}

/***** LEFT SIDE END************/
.mid_side {
	/* float:left; */
	/* width:290px; */
	height: auto;
	padding: 0;
	margin: 0 0px 0 0px;
	border-right: 1px solid #1c0e0a;
}

.mid_side .module_box {
	float:left;
	margin:0px 0px 0px 0px;


	padding:0px 0px 0px 0px;
	width: 93%;
	background: url(../images/b_btm.jpg) bottom repeat-x;
}
.mid_side .module_box h1 {
	margin:5px 0px 10px 0px;
	padding: 0px 0px 0px 2px;
	color:#fff;
	font-size: 24px;
	font-family: cafeta;
	text-transform:uppercase;
	font-weight: normal;
	width:100%;
	background:url(../images/bor-x.jpg) bottom repeat-x
}

.mid_side .module_box h1 span {	color:#ec6600;
}
.mid_side .picture {
	float:left;
	margin:0px 0px 0px 0px;
	padding:3px;
	width: auto;
	background:#fff;
	border:1px solid #e7e7e7;
}
.mid_side .module_box p {
	margin:5px 0px 10px 0px;
	padding: 10px 0px 0px 2px;
	color:#fff;
	font-size: 12px;
	font-weight: normal;
	width:100%;
	float: left;
}
.mid_side .module_box p a{
	color:#ec6600;
	font-weight:bold;
	padding: 0 0 10px 0;
}
.mid_side .module_box p a:hover{
	color:#ec6600;
	border-bottom:1px solid #fff;
	padding: 10px 0 0 0;
}
.mid_side img {
	float:left;
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width: 100%;
	border:3px solid #fff;
	position:relative;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(js/PIE.htc);
}


.mid_side img:hover {	border:3px solid #ec6600;
}
.mid_side .read-more {
	float:left;
	padding: 0;
	width: 286px;
	margin: 23px 0 30px 0;
}
.mid_side .readmore {
	float:left;
	font-family:'cafeta';
	width: 105px;
	font-size:12px;
	height:34px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../images/more.png) no-repeat;
	padding: 10px 0 0 10px;
	text-align: left;
}
.mid_side .readmore:hover {
	color:#fff;
	text-decoration:none;
	background:url(../images/more-hover.png)  no-repeat;
}

.right_side {
	float:right;
	/* width: 302px; */
	height: auto;
	padding: 0px;
	margin:0px 0px 0px 0px;
	position: relative;
}
.right_side .module_box {
	float:right;
	margin:0px 0px 0px 0px;
	padding:0px;
	width: 100%;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.right_side .module_box h1 {
	margin:5px 0px 10px 0px;
	padding: 0px 0px 13px 2px;
	color:#fff;
	font-size: 23px;
	font-family: cafeta;
	text-transform:uppercase;
	font-weight: normal;
	width:100%;
	background:url(../images/bor-x.jpg) bottom repeat-x
}
.right_side p {
	font-size:13px;
	color:#292929;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	height:auto;
	margin:0;
	padding:0px 0 0 0px;
	text-align: left;
	float: left;
	font-style: normal;
}

.right_side p a{color:#33a5b9;}
.right_side p a:hover{
	color:#33a5b9;
	text-decoration: underline;
}
.right_side .box {
	float:left;
	margin:10px 0px 0px 0px;
	padding:0px;
	width: 100%;
	position: relative;
}

.right_side .box h2{
	font-size: 19px;
	color:#ec6600;
	font-family: cafeta;
	text-transform:uppercase;
	height:auto;
	margin:0;
	padding:0px 0 0 10px;
	text-align: left;
	float: left;
	font-style: normal;
	font-weight: normal;
}
.right_side .box p{
	font-size:12px;
	color:#fff;
	font-family: Arial;
	text-transform:none;
	height:auto;
	margin:0;
	padding:0px 0 0 10px;
	text-align: left;
	float: left;
	font-style: normal;
}
.right_side .box .img{
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px;
	width: 35% !important;
	border: 3px solid #fff;
	position:relative;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(js/PIE.htc);
}
.right_side .box .img img{
	width: 100%;
}
.right_side .box .txts{
	float:left;
	margin:0px 0px 0px 4px;
	width: 60%;
}
.right_side .read-more {
	float:left;
	padding: 0px 0 0px 0;
	width: 100%;
	margin: 23px 0 30px 0;
}
.right_side .readmore {
	float:left;
	font-family:'cafeta';
	width: 105px;
	font-size:12px;
	height:34px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../images/more.png) no-repeat;
	padding: 10px 0 0 10px;
	text-align: left;
}
.right_side .readmore:hover {
	color:#fff;
	text-decoration:none;
	background:url(../images/more-hover.png) no-repeat;
}
/**** ---------------- BANNER AREA --------------- ************/

/* ====================  GALLERY ===============*/

.banner_area {
	float:left;
	text-align:left;
	 width: 100%; 
	height:auto;
	padding:0px 0px 0px 0px;
	margin:10px 0px 20px 0px;
}

.box-1 {
	background: #000;
	/* float: left; */
	padding: 10px 0px 10px 10px;
	/* margin:0px 4px 0 0; */
	/* width: 218px; */
	color:#FFFFFF;
	margin-bottom: 26px;
	border:1px solid #27170c;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.box-1 p {
	color: #fff;
	font-size: 12px;
	margin:0px;
	padding:0px;
	/* float:left; */
	/* width: 200px; */
}
.box-1:hover {
    -moz-transition: all 0.2s ease 0s;
    background: none repeat scroll 0 0 #ec6600;
}
.box-1:hover p {
	-moz-transition: all 0.2s ease 0s;
	color: #fff;
	margin: 0px;
	padding: 0px;
	/* float: left; */
	line-height: normal;
	/* width: 200px; */
}
.box-1 h2 {
	color: #ec6600;
	/* float:left; */
	margin:0px 0 10px 0;
	padding:0px;
	}
.box-1:hover h2 {
	-moz-transition: all 0.2s ease 0s;
	color: #fff;
	}
	
.pad1 {
	padding-bottom: 0px;
	font-size: 19px;
	font-family: cafeta;
	line-height:normal;
	font-weight:normal;
	text-transform:uppercase;
}
.marg1 {
	/* float:left; */
	padding: 0px 0 0 0;
}
.marg1 img {
	margin-top: 0px;
}
.marg2 {
    margin-top: 0px;
}
.line1 {
    background: url("../images/line_banner.png") repeat-x scroll 0 0 transparent;
    height: 3px;
}
.box-1:hover a.button2 {
}

.marg3 {
	float:left;
	padding: 0px 0 0 0;
	position:absolute;
	left: 241px;
	top: 60px;

}
/***** Body area************/

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	left:90%;
	bottom:113px;
	overflow:hidden;
	width: 59px;
	height: 59px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background: url(../images/top.png) no-repeat 0 -59px ;
}

#toTopHover {
	background: url(../images/top.png) no-repeat 0 0;
	width: 59px;
	height: 59px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;	
	
}

#toTop:active, #toTop:focus {
	outline:none;
}



#js {
	width:978px;
	height: 448px;
	overflow: hidden;
	position:relative;
	margin: 0 auto;
	background:url(../images/Saw_blade.gif) center no-repeat;
}

div.content-gallery {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	width: 978px;

	height:100%;
	position:relative;
	margin:10px 0 10px 0;
	float: left;
}
div.content-gallery a, div.navigation a {
	text-decoration: none;
}
div.content-gallery a:focus, div.content-gallery a:hover, div.content-gallery a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: -35px;
	width:907px;
	height:43px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	display:none;
}
div.nav-controls {
	display:inline;
}
	div.nav-controls a.prev {
		float:left;
		background:url(images/prev-bg.gif) no-repeat left top;
		width:84px;
		height:27px;
		color:#fff1c3;
		font-weight:bold;
		text-decoration:none;
		text-indent:20px;
		font-family:Tahoma, Geneva, sans-serif;
		padding:0;
		line-height:20px;
		margin-top:11px;
		margin-left:20px;
		position:relative;
	}
		div.nav-controls a.prev:hover {
			color:#000;
		}
	div.nav-controls a.next {
		float:right;
		background:url(images/next-bg.gif) no-repeat left top;
		width:61px;
		height:27px;
		color:#fff1c3;
		font-weight:bold;
		text-decoration:none;
		text-indent:22px;
		font-family:Tahoma, Geneva, sans-serif;
		padding:0;
		line-height:20px;
		margin-top:11px;
		margin-right:20px;
		position:relative;
		
	}
		div.nav-controls a.next:hover {
			color:#000;
		}
div.slideshow-container {

	position: relative;
	height: 360px; /* This should be set to be at least the height of the largest image in the slideshow */
	float:left;
	margin:5px 0 0 5px;
	width:940px;




}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 940px;
	height: 360px; /* This should be set to be at least the height of the largest image in the slideshow */
	/* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	position:absolute;
	width:963px;
	background:white;
	padding:5px;
	top:0;
	left:0;
	-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}
div.download {
	float: right;
}
div.caption-container {
	position: absolute;
	height: 45px;
	bottom:-45px;
}
span.image-caption {
    display: block;
    left: 0px;
    position: absolute;
    top: 0;
    width: 989px;
}

div.image-desc {
	padding:6px 14px 0 22px;
}
	div.image-desc a {
		color:#66b000;
		text-decoration:underline;
	}
	div.image-desc a:hover {
		text-decoration:none;
	}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	padding:10px 0 0 190px;
	overflow:hidden;
}
ul.thumbs li {
	float: left;
	margin:0px 12px 0px 3px;
	list-style: none;
	padding:5px;
	background:#fff;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
ul.thumbs li.last {
	margin:0;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
	background: url(../images/loading.gif) center no-repeat;
}
div.pagination {
	display:none;
}
div.navigation {
	height:115px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:20px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	margin-right: 2px;
	padding: 4px 8px 3px 7px;
	color:#212f39;
	font-weight:bold;
	display:inline-block;
	background:#aebebf;
}

.grid_12 {
	float:left;
	margin: 0;
	padding:0;
	color:#212f39;
}

.grid_12 h2 {
	padding: 0 15px;
	color:#fff;
	font-weight:normal;
	margin: 0;
	text-align: center;
	font-size: 24px;
	font-family: "Trebuchet MS";
}
div.pagination a:hover {
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background:url(images/pagination-bg.gif) no-repeat left top;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
div.pagination.bottom {
	display:none;
}
.products {
	float:left;
	width:100%;
	margin:20px 0 0 0;
	padding:0px;
}

.products1 {
	float:left;
	/*width:420px;*/
	margin:10px 0px;
	padding:0px;
}
.products1 img {
	float:left;
	width:40%;
	margin:0px;
	padding:0px;
}
.products1 p{
	float:left;
	width:52%;
	margin:0px;
	padding:0px 0 0 20px;
}

.gallery {
	float:right;
	margin: 0px 0px 0 0px;
	padding: 0px 0px 0px 0px;
	height: auto;
	/*width: 630px;*/
	position: relative;
}
.boder-radious {
	float:left;
	margin: 11px 20px 0 0px;
	height: auto;
	padding:2px;
	width: auto;
	background:#fff;
	position:relative;
}

/*=====================================  Photo Plugins     ======================================*/


.lightbox-image {
	display: inline-block;
	position: relative !important;/* This Css is useing for lightbox */
}
.lightbox-image img.magnify {
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
}
.lightbox-image1 {
	display: inline-block;
	position: relative;
}
.lightbox-image1 img.magnify {
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
}
.slideDown {
	padding: 0 1px 0 0;
}
.img-top {
	margin-top: 31px;
}
.img-top {
	margin-top: 31px;
	float: left;
	margin-right: 30px;
	position: relative;
}
.border2 {
	border:0px solid #fff;
}
.border2:hover {
	border:0px solid #ef2210;
}


/* ============================= forms ============================= */

/* Contact form */
#contact_form {
	position:relative;
	vertical-align:top;
	/* width:551px; */
	padding: 0px 0 20px 5px;
	float: left;
}
#contact-form fieldset {
	border:none;
	padding:0
}
#contact-form .field {
	overflow:hidden;
	padding-bottom:8px;
	position: relative;
}
#contact-form .label {
	float:left;
	width:65px;
	padding:5px 0;
}
#contact-form input[type=text] {
	width: 70%;
	float:left;
	height: 40px;
	font-family: cafeta;
	font-size: 22px;
	padding: 0 0 0 10px;
	color: #fff;
	line-height:40px;
	background: none;
	border: 1px solid #01308c;
	letter-spacing: 1px;
}
#contact-form input.not_valid, #contact-form textarea.not_valid {
	border:1px solid #01308c;
}
#contact-form .area {
	padding-bottom:0px;
	min-height:252px;
	float: left;
	width: 493px;
}
#contact-form textarea {
	width: 70%;
	height:207px;
	overflow:auto;
	font-family: cafeta;
	font-size: 22px;
	padding: 10px 0 0 10px;
	background: none;
	color: #fff;
	border:1px solid #01308c;
	max-height:200px;
	/* max-width:493px; */
	letter-spacing: 1px;
}
#contact-form .error {
	color:#ec6600;
	padding:10px 0 0 5px;
	display:none;
	font-size:12px;
	line-height:15px;
	width:190px;
	/* float:left; */
}
#contact-form .area .error {
	float:left;
	width:auto;
}
#contact-form .buttons-wrapper {
	text-align:right;
	margin-right:20px;
}
#contact-form .buttons-wrapper a {
	margin-left:25px
}
/*div button {
	float:left;
	width:250px;
	margin:50px 0 0 0;
	height:175px;
}*/
.button-wrap {
	float: left;
	width:141px;
	margin:-10px 0 30px;
	height:30px;
}
.button {
	display:inline-block;
	color: #ec6600;
	cursor:pointer;
	font-family:cafeta;
	font-size:23px;
	background:#fff;
	margin-left:10px;
	padding: 7px 10px 6px 10px;
	/* height: 20px; */
	text-transform: uppercase;
	text-decoration:none;
}
.button:hover {
	text-decoration:none;
	background:#d53b00;
	color: #fff;
	text-decoration:none;
}
.button1 {
	float:left;
	padding:10px 7px 10px;
	background-color:#011c30;
	margin:15px 0px 0 0;
	font-size:12px;
	color:#fff;
	line-height:normal;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-family:"Trebuchet MS";
	font-size:18px;
	position: relative;
}
.button2 {
	display:inline-block;
	color:#FFFFFF;
	background-color:#006600;
	font-style:italic;
	cursor:pointer;
	font-family:"Trebuchet MS";
	font-size:16px;
}
address {
	color:#fff;
	font-size:25px;
	display:block;
	margin:0 0 10px
}
.grid_9 {
	float:left;
	margin:0 7px 0 0;
	/* width: 272px; */
	color:#fff;
}
#googlemap {
	padding:0px;
	/* width:290px; */
	height:auto;
	float: left;
	margin-bottom: 10px;
}
.wrp-right {
	float: left;
	height:auto;
	/*width:300px;*/
	padding:0 0 0 0;
	margin:0px 0px 0 0px;
}
