
@import "navigation.css";
@import "modules.css";
@import "reset.css";
@import "prettyPhoto.css";
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}
mark, rp, rt, ruby, summary, time {
    display: inline;
}
.css3, .footerlinks a, .copy_rights:hover {
    transition: all 0.5s ease 0s;
}
p {
    color: #fff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 10px 0;
    width: 96%;
}
html {
    width: 100%;
}
body {
    background: #fff url("../images/bg.png") repeat-x scroll center top;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
h1 {
    color: #010101;
    float: left;
    font-family: "Dosis","sans-serif;";
    font-size: 37px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 5px 0 10px;
    padding: 0 0 13px 2px;
    text-transform: capitalize;
    width: 100%;
}
#clockbox {
    border: medium none;
    color: #fff;
    float: left;
    font-family: "Oswald",sans-serif;
    font-size: 13px;
    height: 25px;
    margin: 10px 0 0;
    text-transform: uppercase;
    width: 280px;
}
.wrapper {
    background: rgba(0, 0, 0, 0) url("../images/top_tile.png") repeat-x scroll 0 0;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrapper2 {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
#main_container {
    height: auto;
    margin: 0 auto;
}
#page_bg {
    background: rgba(0, 0, 0, 0) url("../images/container_y.jpg") repeat-y scroll 0 0;
    float: left;
    height: auto;
    margin: 0;
    padding: 35px 0 20px;
    position: relative;
    width: 100%;
}
#page_wraper {
    float: left;
    height: 506px;
    margin: 0;
    width: 100%;
}
#top_area {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 955px;
}
.col-1 {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 380px;
}
.logo {
    float: left;
    height: auto;
    margin: 20px 0 0;
    padding: 0;
    text-align: left;
    width: auto;
}
.logo_bg img {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}
.text_side {
    float: left;
    height: auto;
    margin: 130px 0 80px;
    padding: 0;
    text-align: left;
    width: auto;
}
.row-1 {
    float: left;
    height: 43px;
    padding: 0;
    width: 100%;
}
.list1 {
    float: right;
    margin: 10px 0 0;
    width: 200px;
}
.list1 li {
    float: left;
    margin-right: 13px;
    padding-right: 0;
}
.list1 li.first {
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 0;
}
.list1 li.second {
    border-right: 1px solid #fff;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 0;
}
.list1 li.third {
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}
.list1 li.last {
    margin-right: 0;
    padding-left: 0;
    padding-top: 0;
}
.list1 li a {
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.list1 li a img {
    float: left;
    margin-left: 5px;
}
.list1 li a:hover {
    color: #01aded;
}
.navigation_area {
    background: rgba(0, 0, 0, 0) url("../images/menu_bg.jpg") no-repeat scroll 0 0;
    float: left;
    height: 53px;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
.slide {
    background: #fff url("../images/Simple_loading_gif_by_LJ_Webdesign.gif") no-repeat scroll center center;
    margin: -18px 0 0 !important;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.grid_right {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: right;
    height: auto;
    margin: 0;
    text-align: center;
    width: 630px;
}
.banner_area {
    background: rgba(0, 0, 0, 0) url("../images/border_btm.jpg") repeat-x scroll center bottom;
    float: right;
    height: auto;
    margin: 0;
    position: relative;
    text-align: center;
    width: 630px;
}
.bodyarea {
    background: #ffffff none repeat scroll 0 0;
    height: auto;
    margin: 0;
    padding: 0 0 40px;
    position: relative;
    text-align: left;
}
.leftarea {
    float: left;
    height: auto;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
    width: 282px;
}
.left_side {
    background: rgba(0, 0, 0, 0) url("../images/border_y.jpg") repeat-y scroll right center;
    float: left;
    height: auto;
    margin: 0 0 63px;
    padding: 0;
    position: relative;
}
.left_side .module_box {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.left_side .module_box h1 {
    color: #010101;
    font-family: "Dosis",sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 5px 0 10px;
    padding: 0 0 13px 2px;
    text-transform: capitalize;
}
.left_side .module_box h1 span {
    color: #cb0240;
}
.left_side .module_box p {
    background: rgba(0, 0, 0, 0) url("../images/bor-x.jpg") repeat-x scroll center bottom;
    color: #000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 0 0 0 2px;
    text-transform: capitalize;
    width: 92%;
}
.left_side .module_box p strong {
    color: #000;
}
.left_side .read-more {
    float: left;
    margin: 0;
    padding: 0;
    width: 180px;
}
.left_side .readmore {
    background: #cb0240 none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    color: #fff;
    float: left;
    font-family: cafeta;
    font-size: 18px;
    height: 25px;
    padding: 5px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 93px;
}
.left_side .readmore:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.right_side {
    float: left;
    height: auto;
    margin: 0 0 40px;
    padding: 0 0 0 50px;
    position: relative;
}
.right_side .module_box {
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 0;
    position: relative;
}
.right_side .module_box h1 {
    color: #010101;
    font-family: "Dosis",sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 5px 0 10px;
    padding: 0 0 0 2px;
    text-transform: capitalize;
    width: 100%;
}
.right_side .module_box p {
    color: #606060;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
    padding: 13px 0 0 34px;
    text-transform: capitalize;
}
.right_side .module_box p a {
    color: #ffcc00;
    float: left;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
    padding: 0 0 0 2px;
    text-transform: capitalize;
    width: 100%;
}
.right_side .readmore {
    background: rgba(0, 0, 0, 0) url("../images/marker_01.jpg") no-repeat scroll right center;
    color: #fc0;
    float: left;
    font-family: "Dosis",sans-serif;
    font-size: 18px;
    height: 25px;
    padding: 0 15px 0 0;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 133px;
}
.right_side .readmore:hover {
    color: #fff;
    text-decoration: none;
}
.copy_rights {
    color: #000;
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: none;
}
.copy_rights a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 100;
}
.copy_rights a:hover {
    color: #02afe9;
}
.call {
    background: rgba(0, 0, 0, 0) url("../images/img3.jpg") no-repeat scroll right top;
    color: #cc0221;
    float: right;
    font-size: 18px;
    height: auto;
    margin: 35px 20px 0 0;
    padding: 50px 0 0;
    text-align: right;
    width: 220px;
}
.call em {
    background: rgba(0, 0, 0, 0) url("../images/home.png") no-repeat scroll 205px 0;
    color: #fff;
    float: right;
    font-family: "Oswald",sans-serif;
    font-size: 14px;
    font-style: normal;
    height: auto;
    margin: 5px 0 0;
    padding: 0;
    text-align: right;
    width: 220px;
}
.call b {
    background: rgba(0, 0, 0, 0) url("../images/home.png") no-repeat scroll 205px 0;
    color: #fff;
    float: right;
    font-size: 26px;
    font-weight: 400;
    height: auto;
    margin: 5px 0 0;
    padding: 0;
    text-align: right;
    width: 220px;
}
.call .email {
    background: rgba(0, 0, 0, 0) url("../images/home.png") no-repeat scroll 205px 0;
    color: #fff;
    float: right;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 100;
    height: auto;
    margin: 15px 0 0;
    padding: 0;
    text-align: right;
    width: 220px;
}
.call .email span {
    background: rgba(0, 0, 0, 0) url("../images/home.png") no-repeat scroll 205px 0;
    color: #fff;
    float: right;
    font-family: "Oswald",sans-serif;
    font-size: 16px;
    height: auto;
    margin: 5px 0 0;
    padding: 0;
    text-align: right;
    width: 220px;
}
.main-slide {
    float: left;
    margin-top: 69px;
    width: 100%;
}
#slide {
    background: rgba(0, 0, 0, 0) url("../images/icon_loading.gif") no-repeat scroll center center;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 940px;
    z-index: 3;
}
.slider {
    background: rgba(0, 0, 0, 0) url("../images/laptop_bg.png") no-repeat scroll left top;
    height: 370px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    width: 940px;
    z-index: 3;
}
.slider .img {
    float: left;
    position: relative;
    z-index: 3;
}
.items {
    display: none;
}
.pic {
    float: left;
    position: relative;
    right: -96px;
    top: 30px;
}
.banner {
    float: left;
    height: 170px;
    margin: 70px 0 0 150px;
    overflow: hidden;
    position: relative;
    width: 320px;
    z-index: 15;
}
.banner .inner {
    margin-left: 0;
    overflow: hidden;
    position: relative;
    width: 343px;
}
.banner .wrapper-extra {
    border-bottom: 0 solid #e5e5e5;
    padding: 0;
}
.banner .fleft {
    background: #f53e3e none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: "Days One",sans-serif;
    height: 49px;
    margin-right: 15px;
    text-align: center;
    width: 49px;
}
.banner .fleft span {
    display: block;
    font-size: 17px;
    line-height: 23px;
    margin: 6px 0 0;
    text-align: center;
}
.banner em {
    float: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.banner .extra-wrap {
    color: #000;
    font-family: "Dosis",sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}
.banner .extra-wrap span {
    color: #fc0;
    font-weight: bold;
}
.banner p {
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.banner .rel {
    display: block;
    position: relative;
}
.banner a {
    background: #f53e3e none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 27px 0 0;
    padding: 12px 35px 15px;
}
.banner a:hover {
    background: #000 none repeat scroll 0 0;
}
.prev {
    background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll 0 0;
    display: block;
    height: 69px;
    left: -31px;
    position: absolute;
    top: 130px;
    width: 31px;
    z-index: 1000;
}
.prev:hover {
    background-position: 0 bottom;
}
.next {
    background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll 0 0;
    display: block;
    height: 69px;
    position: absolute;
    right: -47px;
    top: 130px;
    width: 31px;
    z-index: 1000;
}
.next:hover {
    background-position: 0 bottom;
}
#toTop {
    background: rgba(0, 0, 0, 0) url("../images/top.png") no-repeat scroll 0 0;
    border: medium none;
    bottom: 143px;
    display: none;
    height: 69px;
    overflow: hidden;
    position: fixed;
    right: 50%;
    text-decoration: none;
    text-indent: -999px;
    width: 69px;
    z-index: 20;
}
#toTopHover {
    background: rgba(0, 0, 0, 0) url("../images/top.png") no-repeat scroll 0 bottom;
    display: block;
    float: left;
    height: 69px;
    opacity: 0;
    overflow: hidden;
    width: 69px;
}
#toTop:active, #toTop:focus {
    outline: medium none;
}
.banner_area {
    border-bottom: 1px solid #dadada;
    height: auto;
    margin: 0 0 40px;
    padding: 0 0 15px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 10;
}
.banner_area.none {
    border-bottom: 0 solid #dadada;
}
.banner_area .box1 {
    float: left;
    height: auto;
    margin: 0 16px 0 0;
    padding: 0;
}
.banner_area .box2 {
    float: left;
    height: auto;
    margin: 0 2% 0 0;
    padding: 0;
    width: 31.2%;
}
.banner_area h2 {
    border-bottom: 1px solid #dadada;
    color: #000;
    float: left;
    font-family: "Dosis",sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    margin: 15px 0 10px;
    padding: 0 0 10px;
    text-transform: uppercase;
    width: 100%;
}
.banner_area h2 span {
    color: #c5c5c5;
    float: left;
	width: 100%;
    font-size: 18px;
    font-weight: 100;
    text-transform: none;
}
.banner_area p {
    background: rgba(0, 0, 0, 0) url("../images/bor-x.jpg") repeat-x scroll center bottom;
    color: #606060;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 13px;
    text-transform: none;
    width: 100%;
}
.banner_area img {
    background: #fff none repeat scroll 0 0;
    border: 3px solid #ececec;
    height: 20%;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
.banner_area .read-more {
    float: left;
    margin: 10px 0 20px;
    padding: 0;
    width: 180px;
}
.banner_area .readmore2 {
    background: #191919 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-family: "Dosis","sans-serif;";
    font-size: 16px;
    font-weight: 300;
    height: auto;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s linear 0s;
    width: auto;
}
.banner_area .readmore2:hover {
    background: #ffcc00 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s linear 0s;
}
.main-cycle {
    float: left;
    height: auto;
    position: relative;
}
.cycle-div {
    float: left;
    height: auto;
    width: 299px;
}
.cycle-div div {
    position: relative;
    width: 261px;
    z-index: 1;
}
.cycle-div div strong {
    color: #ffcc00;
    display: inline-block;
    margin: 0 0 0 50px;
    padding: 0;
}
.cycle-div div a {
    color: #ffcc00;
    display: inline-block;
    font-family: "Dosis",sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 4px 0 0;
    padding: 0;
    text-decoration: none;
}
.cycle-div div a:hover {
    color: #ffcc00;
}
.comment {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #cbcbcb;
    color: #212121;
    padding: 0 12px;
    position: relative;
    width: 273px !important;
}
.comment p {
    color: #212121;
    float: left;
    line-height: 24px;
    margin-left: 40px;
}
.comment::after {
    background: transparent url("../images/comment-after.jpg") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
}
#next2, #prev2 {
    display: block;
    height: 20px;
    position: absolute;
    top: -35px;
    width: 15px;
    z-index: 10;
}
#next2:hover, #prev2:hover {
    background-position: 0 bottom;
}
#next2 {
    background: transparent url("../images/right_nav.png") no-repeat scroll 0 0;
    right: 5px;
}
#prev2 {
    background: transparent url("../images/left_nav.png") no-repeat scroll 0 0;
    right: 28px;
}
.left_side .slide {
    background: rgba(0, 0, 0, 0) url("../images/bottom_shadow.png") no-repeat scroll center bottom;
    float: left;
    height: 132px;
    padding-bottom: 26px;
    position: relative;
    width: 278px;
}
.left_side .sliderContent {
    clear: both;
    float: left;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.left_side .sliderArrows a {
    background-image: url("../images/prev_next.png");
    display: block;
    height: 42px;
    margin-top: -34px;
    outline: medium none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 42px;
    z-index: 50;
}
.left_side .prev {
    background-position: 0 0;
    left: 15px;
}
.left_side .prev:hover {
    background-position: 0 -44px;
}
.left_side .next {
    background-position: -44px 0;
    right: 15px;
}
.left_side .next:hover {
    background-position: -44px -44px;
}
.left_side .sliderContent .item {
    height: auto;
    position: absolute;
    width: 178px;
}
.left_side .sliderBullets {
    bottom: -19px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    z-index: 50;
}
.left_side .sliderBullets a {
    background: rgba(0, 0, 0, 0) url("../images/bullets.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 11px;
    margin-left: 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 10px;
}
.left_side .sliderBullets .active {
    background-position: 0 -11px;
}
.left_side .sliderContent a {
    outline: medium none;
}
.mid_side {
    float: left;
    height: auto;
    margin: 0 0 63px;
    padding: 0;
}
.mid_side .module_box {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mid_side .module_box h1 {
    color: #010101;
    font-family: "Dosis",sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin: 5px 0 10px;
    padding: 0 0 0 2px;
    text-transform: none;
    width: 100%;
}
.mid_side .picture {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    float: left;
    margin: 0;
    padding: 3px;
    width: auto;
}
.mid_side p {
    color: #606060;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 10px 0 10px 2px;
    width: 100%;
}
.mid_side p a {
    color: #ffcc00;
    padding-bottom: 7px;
}
.mid_side p a:hover {
    color: #000;
}
.mid_side img {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}
.mid_side .read-more {
    float: left;
    margin: 0;
    padding: 23px 0 0;
    width: 286px;
}
.mid_side .readmore {
    background: rgba(0, 0, 0, 0) url("../images/marker_01.jpg") no-repeat scroll right center;
    color: #fc0;
    float: left;
    font-family: "Dosis",sans-serif;
    font-size: 18px;
    height: 25px;
    padding: 0 15px 0 0;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 135px;
}
.mid_side .readmore:hover {
    color: #ffd500;
    text-decoration: underline;
}
.product_box {
    padding-top: 1px;
	overflow: hidden;
	float: left;
}
.product {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    box-shadow: 0 1px 3px #e2e2e2;
    float: left;
    margin: 0 0 25px 10px !important;
    padding: 9px 6px 10px;
}
.product img {
    margin-bottom: 12px;
    width: 100%;
}
.product_box .product.first {
    margin-left: 0;
}
.overview {
    padding: 2px 0 26px;
}
.overview > figure {
    border-radius: 6px;
    box-shadow: 0 1px 3px #e2e2e2;
    display: inline-block;
    margin: 1px 20px 4px 0;
}
.red {
    color: #010101;
    font-family: "Dosis",sans-serif;
    font-size: 19px;
    margin: 0 0 10px;
    text-decoration: none;
}
a.red:hover {
    color: #000000;
}
#contact-form {
    float: left;
	margin-bottom: 40px;
    padding: 3px 0 0;
    /*width: 350px;*/
}
#contact-form .success {
    padding: 10px;
    width: 246px;
}
#contact-form textarea, #contact-form input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 7px;
    box-shadow: 0 1px 3px #e2e2e2;
    color: #979393;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    outline: medium none;
    padding: 9px 13px;
    position: relative;
}
#contact-form input {
    float: left;
    width: 100%;
}
#contact-form textarea {
    float: left;
    height: 235px;
    margin: 0;
    overflow: auto;
    resize: none;
    width: 100%;
}
#contact-form label {
    display: inline-block;
    min-height: 42px;
    overflow: hidden;
    padding-bottom: 4px;
	width: 100%;
}
#contact-form label.message {
    display: block;
    padding-bottom: 4px;
}
#contact-form .link1 {
    margin-left: 28px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {
    display: none;
}
#contact-form .error, #contact-form .empty {
    color: red;
    float: left;
    font-size: 11px;
    padding-top: 7px;
    text-align: left;
}
#contact-form .buttons2 {
    clear: both;
    overflow: hidden;
    padding: 20px 12px 0 0;
    position: relative;
    text-align: right;
}
#contact-form .buttons2 a {
    cursor: pointer;
    margin-top: 0;
    text-align: center;
}
#contact-form span {
    display: block;
    margin: 0 0 0 5px;
}
.map_wrapper {
    display: inline-block;
    float: left;
    margin-bottom: 13px;
    overflow: hidden;
    /*width: 300px;*/
}
#map_canvas {
    height: 400px;
    width: 300px;
}
.adress {
    float: left;
    line-height: 1.9;
    padding-left: 50px;
}
.adress span {
    display: inline-block;
    width: 82px;
}
.link1 {
    background: rgba(0, 0, 0, 0) url("../images/link1.png") no-repeat scroll right 7px;
    color: #e2482c;
    display: inline-block;
    margin-top: 22px;
    padding: 0 20px 0 0;
    text-decoration: underline;
}
.link1:hover {
    text-decoration: none;
}
