
.navigation_area {
    background: rgba(0, 0, 0, 0) url("../images/menu_fade.jpg") no-repeat scroll center bottom;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navigation {
    border-bottom: 0px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    margin: 10px 0 0;
    padding: 10px 0;
    width: 100%;
}
.navigation span {
    margin: 0;
    padding: 0;
}
.navigation ul.menu li {
    display: inline;
}
.navigation ul.menu li a {
    color: #000;
    display: block;
    float: left;
    font-family: "Coda",cursive;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    margin: 0 1px 0 3px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.navigation ul.menu li a .none {
    background: #ea3d0a none repeat scroll 0 0;
}
.navigation ul.menu li a:visited {
    color: #000;
}
.navigation ul.menu li .last {
    color: #fff;
    float: left;
    margin: 0 0 0 2px;
}
.navigation ul.menu li a:hover {
    background: #ea3d0a none repeat scroll 0 0;
    color: #fff;
    transition: all 0.6s ease 0s;
}
.navigation ul.menu li#current a {
    background: #ea3d0a none repeat scroll 0 0;
    color: #fff;
}
.navigation ul.menu a.last {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.top_left {
    float: left;
    height: auto;
    margin: 0;
    padding: 10px 0 0;
    text-align: left;
    width: 355px;
}
.toplinks ul.menu {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}
.toplinks ul.menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}
.toplinks ul.menu li.img {
    background: rgba(0, 0, 0, 0) url("../images/icon1.png") no-repeat scroll 0 10px;
    float: left;
    margin: 0;
    padding: 0;
}
.toplinks ul.menu li a:link, .toplinks ul.menu li a:visited {
    border-left: 0 solid #000;
    color: #afc4d7;
    display: inline;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    height: auto;
    margin: 3px 0 0;
    padding: 0 10px 0 13px;
    text-align: left;
    text-transform: capitalize;
    width: auto;
}
.toplinks span {
    margin: 0;
    padding: 0;
}
.toplinks ul.menu li a:hover {
    color: #000000;
    text-decoration: none;
}
.toplinks ul li#current a {
    color: #555555;
    text-decoration: underline;
}
.toplinks ul.menu li a.last {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.leftlinks {
    float: left;
    margin: 0;
    padding: 0;
}
.leftlinks ul.menu li a:link, .leftlinks ul.menu li a:visited {
    background: rgba(0, 0, 0, 0) url("../images/marker_icon1.png") no-repeat scroll 0 13px;
    border-bottom: 1px dotted #5f778d;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 0 1px;
    padding: 10px 0 10px 17px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease 0s;
    width: 240px;
}
.leftlinks ul.menu li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/marker_icon1.png") no-repeat scroll 245px 13px;
    color: #afc4d7;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.leftlinks ul li#current a {
    background: rgba(0, 0, 0, 0) url("../images/marker_icon1.png") no-repeat scroll 6px 10px;
    color: #000;
    transition: all 0.2s ease 0s;
}
.midlinks {
    background: rgba(0, 0, 0, 0) url("../images/bor-x.jpg") repeat-x scroll center bottom;
    float: left;
    height: auto;
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
    width: 280px;
}
.midlinks ul.menu2 li a:link, ul.menu2 li a:visited {
    background: rgba(0, 0, 0, 0) url("../images/icon3.jpg") no-repeat scroll left center;
    color: #eb2000;
    float: left;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    padding: 7px 0 6px 24px;
    text-decoration: none;
    width: auto;
}
.midlinks ul.menu2 li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/icon3.jpg") no-repeat scroll left center;
    color: #000;
    text-decoration: none;
}
.midlinks ul li#current a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.callus {
    background: rgba(0, 0, 0, 0) url("../images/call.jpg") no-repeat scroll 0 0;
    display: none;
    color: #a0a0a0;
    float: left;
    font-family: "Coda",cursive;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    margin: 50px 0 20px;
    padding: 0 0 0 40px;
    text-align: left;
}
.footer_wraper {
    float: left;
    margin: 30px 0 0;
    width: 100%;
}
footer {
    clear: both;
    float: left;
    margin: 30px 0 0;
    width: 100%;
}
.footer_wraper {
    border-top: 1px solid #e9e9e9;
    /* float: left; */
    /* height: 113px; */
    margin: 28px 0 0;
    width: 100%;
}
footer {
    background: rgba(0, 0, 0, 0) url("../images/gallery_bg.jpg") repeat scroll 0 0;
    float: left;
    /* height: 113px; */
    margin: 0;
    width: 100%;
}
.footer-box {
    /* background: rgba(0, 0, 0, 0) url("../images/footer_tile.jpg") repeat-x scroll 0 0; */
    height: 45px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%;
}
.footer-box .module_box {
    border: 0 solid #000;
    float: left;
    margin: 0;
    width: 100%;
}
.footer_bottom {
    border-top: 0 solid #242424;
    float: left;
    height: auto;
    margin: 0;
    padding: 0 0 8px;
    width: 900px;
}
.footer_left {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 300px;
}
.footer_left p a {
    background: rgba(0, 0, 0, 0) url("../images/phone.png") no-repeat scroll right center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
}
.footer_left p a {
    color: #fff;
    font-weight: normal;
}
.footer_left p a:hover {
    color: #fff;
}
.footer_menu {
    float: left;
    text-align: left;
    width: 100%;
}
.footer_menu ul.menu {
    line-height: 0;
    margin: 0;
    padding: 0;
}
.footer_menu ul.menu li a:link, .footer_menu ul.menu li a:visited {
    color: #6a6a6a;
    display: inline;
    float: left;
    font-family: Tahoma;
    font-size: 14px;
    height: auto;
    line-height: 0;
    margin: 0;
    padding: 0 5px;
    text-align: left;
    text-decoration: none;
    width: auto;
}
.footer_menu span {
    margin: 0;
    padding: 0;
}
.footer_menu ul.menu li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/footer_icon.png") no-repeat scroll right center;
    color: #c5ff05;
    text-decoration: none;
}
.footer_menu ul li#current a {
    background: rgba(0, 0, 0, 0) url("../images/footer_icon.png") no-repeat scroll right center;
    color: #c5ff05;
    text-decoration: none;
}
.footer_right {
    border: 0 solid black;
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    width: 270px;
}
.footer_left h3 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    margin: 7px 0 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.footer_left p {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    margin: 4px 0 0;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}
.footer_right p span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #60a50f;
    float: left;
    font-family: Georgia;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    margin: 7px 0 0;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}
.footer_right .logo {
    border: 0 solid black;
    float: left;
    height: auto;
    margin: 30px 0 0;
    padding: 0;
    width: auto;
}
.footer_left .footerlinks h1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #1b192f;
    float: left;
    font-family: "Oswald",sans-serif;
    font-size: 22px;
    font-weight: normal;
    height: auto;
    margin: 7px 0 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 140px;
}
.footerlinks {
    border: 1px solid red;
    float: left;
    margin: 0 18px 0 0;
    padding: 0;
    width: 200px;
}
.footerlinks ul.menu {
    display: block;
    float: left;
    line-height: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.footerlinks ul.menu li {
    border: 0 solid yellow;
    color: #6a6a6a;
    line-height: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.footerlinks ul.menu li a:link, .footerlinks ul.menu li a:visited {
    background: rgba(0, 0, 0, 0) url("../images/fot_icon.jpg") no-repeat scroll left center;
    border: 0 solid red;
    color: #000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 17px;
    line-height: normal;
    margin: 0;
    padding: 0 5px 0 0;
    text-transform: capitalize;
    width: auto;
}
.footerlinks ul.menu li a:hover {
    color: #09a2cb;
    text-decoration: none;
    transition: all 0.6s ease 0s;
}
.footerlinks ul li#current a {
    color: #1878cb;
    font-weight: bold;
    text-decoration: none;
}
.copy_rights {
    color: #6d6d6d;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    margin-left: -15px;
    padding: 30px 12px 5px 0;
    text-transform: capitalize;
    /*width: 50%;*/
}
.copy_rights a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}
.copy_rights a:hover {
    color: #afc4d7;
}
.copy_rights span {
    color: #0388a7;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 0;
}
.copy_rights a {
    color: #6d6d6d;
}
.copy_rights a:hover {
    color: #6d6d6d;
    text-decoration: underline;
}
.footerlinks {
    border: 0 solid black;
    float: left;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 600px;
}
.fl-r {
    float: left;
    height: auto;
    margin: 7px 0 0 290px;
    padding: 0;
    width: 100px;
}
.list-3 {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.fl-r span {
    color: #fff;
    float: left;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    line-height: normal;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
    width: 100%;
}
.list-3 li {
    float: left;
    list-style: outside none none;
    margin: 0 0 0 4px;
    padding: 0;
}
.list-3 li a {
    display: block;
    height: 16px;
    width: 16px;
}
.soc-1 a {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-1.jpg") no-repeat scroll 0 0;
}
.soc-1 a:hover {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-1.jpg") no-repeat scroll center bottom;
}
.soc-2 a {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-2.jpg") no-repeat scroll 0 0;
}
.soc-2 a:hover {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-2.jpg") no-repeat scroll center bottom;
}
.soc-3 a {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-3.jpg") no-repeat scroll 0 0;
}
.soc-3 a:hover {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-3.jpg") no-repeat scroll center bottom;
}
.soc-4 a {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-4.jpg") no-repeat scroll 0 0;
}
.soc-4 a:hover {
    background: rgba(0, 0, 0, 0) url("../images/soc-icon-4.jpg") no-repeat scroll center bottom;
}
#easyTooltip {
    background: #ea3d0a none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    position: absolute;
    text-transform: none;
    top: -10px;
    z-index: 100;
}
