/*** TOP BAR LINKS START******/

.navigation_area {
	float:left;
	width:946px;
	height:64px;
	padding:0px 0px 0px 0px;
	margin:30px 0px 0px 0px;
	background:url(../images/menu_bg.jpg) no-repeat;
}

.nav_first {
	float: left;
	padding: 0;
	margin:0px;
	text-align: center;
	font-size: 22px;
	height:58px;
	width:101px;
	display:block;
	line-height:58px;
	text-decoration: none;
	font-family: 'Exo', sans-serif;
	text-transform:uppercase;
	font-size:15px;
	color: #000;
	background:url(../images/seprater.jpg) right no-repeat;
}	
.nav_first:hover{ background:url(../images/first_hover.png) no-repeat;}
.nav_first:hover,.active{ background:url(../images/first_hover.png) no-repeat;}
.navigation {
	float:left;
	margin: 0px 0 0px 1px;
	padding: 2px;
	width: 632px;
	height:auto;}

.navigation ul.menu li{display: inline; margin:0px; padding:0px;}
.navigation ul.menu li a {
	float: left;
	padding: 18px 20px 19px 20px;
	margin:1px 2px 0px 0px;
	text-align: center;
	font-size: 22px;
	height:auto;
	width:auto;
	display:block;
	text-decoration: none;
	font-family: 'Exo', sans-serif;
	text-transform:uppercase;
	background:url(../images/seprater.jpg) right no-repeat;
	font-size:15px;
	color: #000;
}
	
	
.navigation ul.menu li a:visited {
	color:#000;
}
.navigation ul.menu li a:hover{ color:#000; background:url(../images/menu_hover.png) repeat-x;}
.navigation ul.menu li#current a {color:#000; background:url(../images/menu_hover.png) repeat-x;}
.navigation ul.menu a.last { background:none }

/*** MAIN NAVIGATION END******/



/*** TOP LINKS START******/
.toplinks ul.menu {
	padding:0px;
	margin:0px 0px 0px 0px;
	float: left;
	height:auto;
	width:243px;
}
.toplinks ul.menu li {
	display:inline;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.toplinks ul.menu li a:link, .toplinks ul.menu li a:visited {
	float:left;
	color:#d0c4ae;
	display:inline;
	width:auto;
	height:auto;
	padding:0px 10px 0px 0px;
	margin:3px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border-left:0px solid #000;
	background:url(../images/top_icon.html) no-repeat left;
	text-transform: capitalize;
	text-align: right;
}
.toplinks span {
	margin:0px;
	padding:0px;
}
.toplinks ul.menu li a:hover {
	color:#B50400;
	text-decoration:none;
}
.toplinks ul li#current a {
	color:#555555;
	text-decoration:underline;
}
.toplinks ul.menu li a.last {
	background:none;
}
/*** LEFT BAR LINKS START******/
.leftlinks ul.menu li a:link, .leftlinks ul.menu li a:visited {
	color:#fc5b01;
	font-size:12px;
	text-decoration:none;
	display:block;
	line-height:22px;
	padding:5px 0 5px 33px;
	background:url(../images/icon4.jpg) 6px 14px no-repeat;
	margin:0px 0 1px 0;
	text-align:left;
	text-transform:capitalize;
	width: 185px;
	float: left;
	border-bottom:1px dashed #666666;
}
.leftlinks ul.menu li a:hover {
	color:#000;
	background:url(../images/icon4.jpg) 10px 14px no-repeat;
}
.leftlinks ul li#current a {
	color:#fff;
	background:url(../images/icon4.jpg) 22px 14px no-repeat;
}
/*** LEFT BAR LINKS START******/
 
/*** RIGHT BAR LINKS START******/
.rightlinks ul.menu1 li a:link, ul.menu1 li a:visited {
	float:left;
	width:260px;
	display:inline;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:20px;
	text-decoration:underline;
	background:url(../images/icon3.png) 0 0px no-repeat;
}
.rightlinks ul.menu1 li a:hover {
	color:#ff7400;
	text-decoration: none;
}
.rightlinks ul li#current a {
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
/*** RIGHT BAR LINKS START******/

/*** FOOTER BOX START******/

.footer_wraper {
	float:left;
	width:100%;
	margin:30px 0px 0px 0px;
	background:url(../images/footer_tile.html) repeat-x;
}
/*** FOOTER MENU START******/

.footer_menu {
	padding:0px;
	margin:30px 0px 0px 0px;
	float:left;
	width: 100%;
}
/*** FOOTER MENU END******/

.footer_right {
	float:right;
	width:269px;
	height:auto;
	margin:20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}
.footer_right .logo {
	float:left;
	width:269px;
	height:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}
/*** FOOTER BOX END******/

.footer_left .footerlinks h1 {
	float:left;
	width:140px;
	height:auto;
	color:#FFFFFF;
	font-size:22px;
	margin:10px 0px 0 0px;
	padding:0px 0px 0px 0px;
}
.footer_bottom {
	text-align:left;
	width:980px;
	height:127px;
	padding:0px 0px 0px 0px;
	margin:0 auto;
}
.copy_rights {
	float:left;
	font-size:13px;
	font-weight:normal;
	color:#fff;
	width:200px;
	height:35px;
	padding:15px 0px 0px 90px;
	margin:0px 0px 0px 0px;
	background: url(../images/fot_icon.jpg) no-repeat;
}
.copy_rights a {
	color:#fff;
}
.copy_rights a:hover {
	color:#FD9031;
}
.footerlinks {
	float:right;
	width:auto;
	text-align:center;
	border:0px solid black;
	padding:0px 0px 0px 0px;
	margin:15px 0px 0px 0px;
}
.fl-r {
	float: right;
	width: 235px;
	margin: 40px 4px 0 0px;
	height: auto;
}
.fl-text {
	float: left;
	width: auto;
	margin: 10px 0 0 0px;
	height: auto;
	color: #fff;
	text-transform:uppercase;
	font-family: 'Exo', sans-serif;
	font-size:14px;
}
.list-3 {
	float:right;
	list-style:none;
	margin:0px 0 10px 0;
	padding:0px;
}
.list-3 li {
	float:left;
	margin:0px 0 0 1px;
	padding:1px;
	list-style:none;
}
.list-3 li a {
	display:block;
	width:32px;
	height:32px;
}
.soc-1 a {
	background: url('../images/soc-icon-1.png') no-repeat 0 0px;
}
.soc-2 a {
	background: url('../images/soc-icon-2.png') no-repeat 0 0px;
}
.soc-3 a {
	background: url('../images/soc-icon-3.png') no-repeat 0 0px;
}
.soc-4 a {
	background: url('../images/soc-icon-4.png') no-repeat 0 0px;
}
.soc-5 a {
	background: url('../images/soc-icon-5.html') no-repeat 0 0px;
}
.soc-6 a {
	background: url('../images/soc-icon-6.html') no-repeat 0 0px;
}
#easyTooltip {
	padding: 3px;
	background:url(../images/menu_hover.jpg);
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size:14px;
	text-transform: none;
	position: absolute;
	z-index: 100;
	border: 2px solid #fff;
}
